<mat-toolbar>
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>FotoTren.es</span>
  <span class="spacer"></span>
  <app-theme-changer/>


  <button mat-icon-button class="example-icon" aria-label="Icono para ir">
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="material-symbols-outlined"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>key</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>