<mat-toolbar class="topbar">
  <button mat-icon-button (click)="toggleSidenav()"
    class="colorChangerIcons toggle-button"
    id="openButton">
    <mat-icon>menu</mat-icon>
  </button>

  <span>FotoTren.es</span>

  <span class="filler"></span>

  <app-theme-changer/>

  <button 
    mat-icon-button 
    class="colorChangerIcons" >
    <mat-icon>favorite</mat-icon>
  </button>

  <button
    mat-icon-button
    class="colorChangerIcons"
  >
    <mat-icon>key</mat-icon>
  </button>

  <button
    mat-icon-button
    class="colorChangerIcons"
  >
    <mat-icon>share</mat-icon>
  </button>

</mat-toolbar>