
.spacer {
    flex: 1 1 auto;
  }
  .topbar {
    
    height: 60px;
    position: fixed;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
    z-index: 2;
  
    body.dark-theme & {
      // Estilo por defecto
    background-color: #ff0000; // Tema oscuro
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.3);
    }  
    
  
    // Estilo para el tema claro
    body.light-theme & {
      background-color: #e0e0e0; // Color de fondo para el tema claro
      box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.1);
    
      }  
  
  }