@defer {
    <app-publications (imagesLoaded)="onImagesLoaded()" /> 
  } @placeholder  {
    <div class="loader" >
        <div class="loader-square colorChanger"></div>
        <div class="loader-square colorChanger"></div>
        <div class="loader-square colorChanger"></div>
        <div class="loader-square colorChanger"></div>
        <div class="loader-square colorChanger"></div>
        <div class="loader-square colorChanger"></div>
        <div class="loader-square colorChanger"></div>
        </div>
  }