
.example-stepper {
    
    background-color: #aaaaaa;
    color: #6d6d6d;
    
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  
  mat-form-field {
    padding-left: 16px;
    
  }

    
  


