@import "../../../styles.scss";
.card {
  word-wrap: break-word;
  width: fit-content;
  max-width: 30%;
  min-width: 390px;
  height: fit-content;
  min-height: 254px;
  border-radius: 30px;
  background: lightgrey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  padding: 20px;
  margin-left: 20px;
  margin-top: 45px;
  float: left;
  transition: all 0.5s ease;
  cursor: pointer;
}

.card.expanded {
  width: 75%;
  max-width: 75%;
   /* Limitar la altura máxima */
  padding: 50px;
  position: fixed; /* Mantenerla centrada */
  left: 50%;
  top: 50%; /* Centrar verticalmente */
  transform: translate(-50%, -50%); /* Centrar horizontal y verticalmente */
  transition: all 0.2s ease;
  padding-top: 80px;
  z-index: 999;
  overflow-y: auto; /* Permitir desplazamiento */
  overflow-x: hidden; /* Evitar el desplazamiento horizontal */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  border-radius: 30px;
}

.truncateText {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Limita el texto a 4 líneas */
  line-clamp: 4; /* Add this line for compatibility */
  -webkit-box-orient: vertical;
  overflow: hidden; /* Oculta el texto excedente */
  text-overflow: ellipsis;
}
.truncateText.expanded {
  display: -webkit-box;
  -webkit-line-clamp: 100; /* Limita el texto a 100 líneas */
  line-clamp: 100; /* Add this line for compatibility */
  -webkit-box-orient: vertical;
  //overflow: hidden; /* Oculta el texto excedente */
  text-overflow: ellipsis;
}
img {
  max-width: 100%; /* Escala las imágenes para que no excedan el tamaño del contenedor */
  height: auto; /* Mantiene la relación de aspecto */
}
