<div style="padding-top: 80px; flex-wrap: wrap ;min-height: 100vh">
  <!-- Comprobamos si hay publicaciones -->
  <div *ngIf="publicaciones && publicaciones.length > 0; else noPublicaciones">
    <!-- Iteramos sobre las publicaciones -->
    <div
      *ngFor="let publicacion of publicaciones; trackBy: trackByPubId"
      class="card colorChanger"
      [ngClass]="{ expanded: expandedPubId === publicacion.pubId }"
      (click)="expandDiv(publicacion.pubId, $event)"
    >
      <div>
        <h1>{{ publicacion.title }}</h1>
      </div>
      <div>
        <img
          style="width: 40%"
          [src]="'fotosGuardadas/' + publicacion.photo + '.jpg'"
          (load)="onImageLoad()"
          (error)="onImageError()"
        />
      </div>
      <div style="width: 60%" class="truncateText"  [ngClass]="{ expanded: expandedPubId === publicacion.pubId }">
        <p>{{ publicacion.text }}</p>
      </div>
    </div>
  </div>

  <!-- Plantilla que se mostrará si no hay publicaciones -->
  <ng-template #noPublicaciones>
    <div class="card colorChanger">
      <h1>No hay publicaciones</h1>
    </div>
  </ng-template>
</div>
