<div>
  <mat-sidenav-container hasBackdrop="false">
    <mat-sidenav 
    mode="over" 
    [opened]="isOpen" 
    class="inside colorChanger" 
    
    [fixedInViewport]="true"
    [fixedTopGap]="45"
    >
      <div class="space"></div>
        
        
        
        
      <nav>
        <a routerLink="/">Home</a>
        <a routerLink="/publications">Publicaciones</a>
        <a routerLink="/form">Nueva publicacion</a>
      </nav>
      
      
      
      
      
    </mat-sidenav>
    <mat-sidenav-content class="backgroundChanger">
      <router-outlet class="outside "> </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
