
.side{
    padding-top: 20px; /* Padding de 20 píxeles */
  text-align: left; /* Alineación del texto a la izquierda */
   /* Margen de 10 píxeles en todos los lados */
}
.inside{
    padding-left: 10px;
}
.outside{
    padding-left: 10px;
    color: rgb(0, 126, 245);
}