<div>
  <mat-sidenav-container hasBackdrop="false">
    <mat-sidenav 
    mode="over" 
    [opened]="isOpen" 
    class="inside colorChanger" 
    
    [fixedInViewport]="true"
    [fixedTopGap]="45"
    >
      <div class="space"></div>
        
        
        
        
      <p>2Contenido del menú de la barra lateral</p>
      <p>1Contenido del menú de la barra lateral</p>
      <p>1Contenido del menú de la barra lateral</p>
      <p>1Contenido del menú de la barra lateral</p>
      <p>1Contenido del menú de la barra lateral</p>
      <p>1Contenido del menú de la barra lateral</p>
      <p>1Contenido del menú de la barra lateral</p>
      <p>1Contenido del menú de la barra lateral</p>
      
      
      
      
      
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet class="outside "> </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
