<div>
  <mat-sidenav-container hasBackdrop="false">
    <mat-sidenav 
    mode="over" 
    [opened]="isOpen" 
    class="inside colorChanger" 
    
    [fixedInViewport]="true"
    [fixedTopGap]="40"
    >
      <div class="space"></div>
        
        
        
        
      <nav>
        <h3><a routerLink="/">Home</a></h3>
        <h3><a routerLink="/publications">Publicaciones</a></h3>
        <h3><a routerLink="/form">Nueva publicacion</a></h3>
      </nav>
      
      
      
      
      
    </mat-sidenav>
    <mat-sidenav-content class="backgroundChanger" >
      <router-outlet class="outside "> </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
